@using AutoQuote.ViewModels
@model List<QuoteVM>

<div class="row no-gutters m-3 text-center">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h3 class="m-0">Completed Quotes</h3>
        </div>
        <div class="card-body">
            @foreach (var quote in Model)
            {
                using (Html.BeginForm("Remove", "Admin", FormMethod.Post))
                {
                    <div class="row mb-3">
                        <div class="col-3">
                            First Name: @quote.firstName
                        </div>
                        <div class="col-3">
                            Last Name: @quote.lastName
                        </div>
                        <div class="col-3">
                            Email Address: @quote.emailAddress
                        </div>
                        <div class="col-3">
                            Quote: $@quote.completedQuote
                        </div>
                        --------------------------------------------
                    </div>
                }
            }
        </div>
    </div>
</div>